<% title "Edit Maintenance" %>

<%= render :partial => 'form' %>

<p>
  <%= link_to "Back", :back %> |
  <%= link_to "Destroy", @maintenance, :confirm => 'Are you sure?', :method => :delete %>   
</p>
